::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background:var(--scroll-bar-color);
}
:root{
    --scroll-bar-color: blueviolet;
    --bg-color: #222;
    --color-text: blueviolet;
    --border-effect-color: blueviolet;
    --bg-card: #222;
    --input-border: blueviolet;
    --input-bg: #333;
    --input-color-text: rgba(255, 255, 255, 0.568);
    --input-placeholder-color: #fff;
    --input-placeholder-opacity: 0.4;
    --text-result-color: rgb(166, 87, 240);
}


body.flame{
    --scroll-bar-color: #EB5E28;
    --bg-color: #CCC5B9;
    --color-text: #EB5E28;
    --border-effect-color: #EB5E28;
    --bg-card: #FFFCF2;
    --input-border: #EB5E28;
    --input-bg: #CCC5B9;
    --input-color-text: #000;
    --input-placeholder-color: #000;
    --input-placeholder-opacity: .8;
    --text-result-color: #ad380a;
}
body{
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container{
    text-align: center;
    padding: 20px;
    position: relative;
    max-width: 300px;
    box-shadow: 0 16px 8px 16px rgba(0,0,0,0.1);
}
#container h1{
    pointer-events: none;
}

/* border effect */

.line{
    position: absolute;
    inset: 0;
    background-color: #000;
    z-index: 1;
    overflow: hidden;
}
.line::before{
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 700px;
    height: 100px;
    background: var(--border-effect-color);
    animation: animate 4s linear infinite;
    z-index: 2;
}
@keyframes animate{
    to{
        transform: translate(-50%, -50%) rotate(1turn);
    }
}
.line:after{
    content: '';
    position: absolute;
    inset: 3px;
    z-index: 3;
}


#container .details{
    position: relative;
    z-index: 999;
}

#container .details,
.line:after{
    background: var(--bg-card);
}


/* Input */

input{
    padding: 10px;
    margin-bottom: 0.5em;
    background: var(--input-bg);
    color: var(--input-color-text);
    font-weight: 600;
    border: none;
}
input[type="number"]::-webkit-inner-spin-button { 
    -webkit-appearance: none;    
}
input[type=number] { 
    -moz-appearance: none;
    appearance: none;
}

input:focus{
    outline: solid 1px var(--input-border);
    opacity: 0.7;
}
input::placeholder{
    color: var(--input-placeholder-color);
    opacity: var(--input-placeholder-opacity);
}

input[type="submit"]{
    cursor: pointer;
    background: var(--input-border);
    color: #000;
    border: none;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
}
input:hover[type="submit"]{
    opacity: 1;
    color: rgba(255, 255, 255, 0.459);
}
#resultado{
    color: rgb(166, 87, 240);
}